In [5]:
#imports
import numpy as np
import pandas as pd
import tensorflow as tf
import os
from dotenv import load_dotenv

ModuleNotFoundError: No module named 'tensorflow'

In [3]:
ODDS_API_KEY = os.getenv("ODDS_API_KEY")
RAPID_API_KEY = os.getenv("RAPID_API_KEY")

In [4]:
df = pd.read_csv('./data/games.csv')
df.describe()

,game_id,team_id,w,l,w_pct,min,fgm,fga,fg_pct,fg3m,...,dreb,reb,ast,stl,blk,tov,pf,pts,a_team_id,season_year
count,1.256240e+05,1.256240e+05,41000.000000,41000.000000,41000.000000,125624.000000,125607.000000,90894.000000,90871.000000,95248.000000,...,83639.000000,125624.000000,90068.000000,83960.000000,84407.000000,84293.000000,121742.000000,125624.000000,1.256240e+05,125624.000000
mean,2.626483e+07,1.609626e+09,18.268707,18.197756,0.501643,223.416242,39.272907,83.156248,0.459980,4.833130,...,30.284592,28.252316,22.740152,7.960457,5.027723,14.661324,23.087308,102.816906,1.609626e+09,1991.552028
std,6.397716e+06,3.986267e+07,14.325919,14.364904,0.207357,64.186932,6.554990,9.229457,0.064443,3.742667,...,5.450578,20.735648,5.648077,3.077586,2.688588,4.231496,5.162206,14.037685,3.986267e+07,17.331665
min,1.050000e+07,4.100000e+01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.100000e+01,1950.000000
25%,2.120001e+07,1.610613e+09,6.000000,5.000000,0.370000,240.000000,35.000000,77.000000,0.420000,2.000000,...,27.000000,0.000000,19.000000,6.000000,3.000000,12.000000,20.000000,93.000000,1.610613e+09,1979.000000
50%,2.710043e+07,1.610613e+09,16.000000,16.000000,0.500000,240.000000,39.000000,83.000000,0.459000,4.000000,...,30.000000,38.000000,22.000000,8.000000,5.000000,14.000000,23.000000,103.000000,1.610613e+09,1994.000000
75%,2.890033e+07,1.610613e+09,28.000000,28.000000,0.633000,240.000000,44.000000,89.000000,0.500000,7.000000,...,34.000000,44.000000,26.000000,10.000000,7.000000,17.000000,26.000000,112.000000,1.610613e+09,2006.000000
max,4.990009e+07,1.610617e+09,73.000000,72.000000,1.000000,365.000000,135.000000,240.000000,5.125000,31.000000,...,56.000000,81.000000,89.000000,27.000000,23.000000,40.000000,122.000000,196.000000,1.610617e+09,2018.000000

In [7]:

df.shape

(25796, 21)

In [8]:

df.values

array([['2022-03-12', 22101005, 'Final', ..., 21.0, 46.0, 0],
       ['2022-03-12', 22101006, 'Final', ..., 19.0, 40.0, 1],
       ['2022-03-12', 22101007, 'Final', ..., 23.0, 47.0, 0],
       ...,
       ['2014-10-06', 11400005, 'Final', ..., 19.0, 43.0, 1],
       ['2014-10-05', 11400002, 'Final', ..., 18.0, 45.0, 1],
       ['2014-10-04', 11400001, 'Final', ..., 19.0, 42.0, 0]],
      dtype=object)